@use "./functions" as *;

$primary: #000000;
$secondary: #ffffff;
$light-opacity: #8f8f8f;
$dark-opacity: #5d5d5d;
$light-gray: #efefef;
$blue: #3a83f7;
$name-tag: #b49255;
$table-bg: #f7f7f7;
$code-bg: #242424;
$copy-bg: #3c3c3c;
$red: #ff4d4f;

$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;

$fw-100: 100;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$mobile: to-rem(640);
$tablet: to-rem(768);
$desktop: to-rem(1200);
